[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/MarcWeber/snipmate.vim.git
[submodule "vim/bundle/octave"]
	path = vim/bundle/octave
	url = https://github.com/vim-scripts/octave.vim--.git
[submodule "hammerspoon/Spoons/AppHotkeys.spoon"]
	path = hammerspoon/Spoons/AppHotkeys.spoon
	url = git@github.com:matthewfallshaw/AppHotkeys.spoon.git
[submodule "hammerspoon/Spoons/CaptureHotkeys.spoon"]
	path = hammerspoon/Spoons/CaptureHotkeys.spoon
	url = git@github.com:matthewfallshaw/CaptureHotkeys.spoon.git
